<script>
	import { enhance } from '$app/forms';
	import { supabase } from '$lib/supabaseClient';
	import { onMount } from 'svelte';

	/**
	 * @type {any[]}
	 */
	let forums = [];

	async function getForums() {
		let { data, error: err } = await supabase
			.from('forum')
			.select('*')
			.order('votes', { ascending: false });
		if (data) {
			forums = data;
		}
	}
	/**
	 * @param {any} id
	 */
	async function deleteForum(id) {
		const { error } = await supabase.from('forum').delete().eq('id', id);
		await getForums();
	}
	onMount(() => getForums());
</script>

<div class="flex">
	<div class="w-3/5">
		<h1 class="text-xl">Forums</h1>
		{#each forums as forum}
			<div class="p-3 border m-1">
				<div>
					<h2 class="text-lg text-blue-600">
						<a href="/forums/{forum.id}">
							{forum.title}
						</a>
					</h2>
					<p class="text-gray-500">{forum.votes} Votes</p>
					<p>{forum.detail}</p>
					<small>Posted by: {forum.posted_by}</small>
				</div>
				<button
					on:click={() => deleteForum(forum.id)}
					class="bg-red-400 p-1 rounded text-white text-sm">Delete</button
				>
				<form class="my-2" method="POST" use:enhance>
					<input type="hidden" name="id" value={forum.id} />
					<button formaction="?/voteUp" class="bg-blue-400 p-1 rounded text-white text-sm"
						>Up</button
					>
					<button formaction="?/voteDown" class="bg-orange-400 p-1 rounded text-white text-sm"
						>Down</button
					>
				</form>
			</div>
		{/each}
	</div>
	<div class="w-2/5">
		<h2 class="text-xl">New Post</h2>
		<form method="POST" action="?/postForum">
			<input name="title" class="w-full text-sm border p-2 m-2" type="text" placeholder="Title" />
			<textarea
				name="detail"
				class="w-full text-sm h-40 border rounded p-2 m-2"
				placeholder="Detail"
			/>
			<button class="w-full text-sm bg-blue-600 text-white p-2 m-2">Post</button>
		</form>
	</div>
</div>
