<script>
	import '../app.css';
	import { page } from '$app/stores';
	$: activeUrl = $page.url.pathname;
</script>

<div class="m-3 container">
	<nav>
		<ul class="flex flex-row">
			<li class="p-2 ">
				<a href="/" class:text-blue-500={activeUrl === '/'}>Home</a>
			</li>

			<li class="p-2">
				<a href="/forums" class:text-blue-500={activeUrl === '/forums'}>Forums</a>
			</li>
			<li class="p-2">
				<a href="/about" class:text-blue-500={activeUrl === '/about'}>About</a>
			</li>
		</ul>
	</nav>
	<div class="p-2">
		<slot />
	</div>
</div>
